@model UpdateFeatureDto

@{
    ViewData["Title"] = "UpdateFeature";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="card">
    <div class="card-header">
        <div class="card-title">Öne Çıkarılan Kitabı Güncelle</div>
    </div>
    <form method="post">
        <div class="card-body">
            <div class="row">
                <div class="col-md-6 col-lg-6">
                    <div class="form-group">
                        <label for="email2">Kitap Adı</label>
                        <input type="hidden" asp-for="FeatureId" />
                        <input asp-for="BookName" type="text" class="form-control" id="email2" placeholder="Kitabın Adı">
                    </div>
                </div>
                <div class="col-md-6 col-lg-6">
                    <div class="form-group">
                        <label for="email2">Kitap Görseli</label>
                        <input asp-for="ImageUrl" type="text" class="form-control" id="email2" placeholder="Kitabın Görseli">
                    </div>
                </div>
                <div class="col-md-12 col-lg-12">
                    <div class="form-group">
                        <label for="comment">Kitap Açıklaması</label>
                        <textarea asp-for="Description" class="form-control" id="comment" rows="5"></textarea>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-action">
            <button class="btn btn-success">Kaydet</button>
            <button class="btn btn-danger">Vazgeç</button>
        </div>
    </form>
</div>